/* CSS Document */

header{
	width: 100%;
	background-color: #FFD300;
	position:fixed;
	top:0;
	padding: 15px;
	z-index: 1000;
}

.nav-logo {
	height: 57px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.nav-logo img {
	height: 100%;
}
.logo {
	width: 150px;
	height: 14px;
	float: left;
	size: 24pt;

}

nav{
	float: right;
}

nav ul {
	list-style-type: none;
	text-align: right;
}

nav li {
	display: inline-block;
	font-size: .8em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-left: 20px;
	cursor: pointer;
}
nav li a:link {
	color: #091c5a;
	text-decoration: none;
}

nav li a:visted {
	color: #091c5a;
}

nav li a:hover {
	color: #ff6600;
}

nav li a:active {
	color: #ff6600;
}

/* Hero Image */ 

.hero-overlay {
	position:absolute;
	width: 940px;
	top: 136px;
	height: 670px; 
	z-index: 100px;
	background-repeat: no-repeat;
	background-position: bottom;
}

.hero {
	width: 100%;
	height: 690px;
	background-image: url("../images/Trinidad+Cuba.jpeg");
	background-repeat: no-repeat;
	background-size: cover
}


h2 {
	padding: 25px;
}

/* Introduction */

.introduction {
	width: 100%;
	padding: 130px 0;
	background-color: #FFD300;
	text-align: center; 
}


/* About*/ 

.about {
	width: 100%;
	padding: 100px 0;
	background-color: #EFEFEF;
}

.activities {
	width: 100%; 
	padding: 100px 0;
	background-color: #FFD300;
}




/* customer testimoinals */
.testimonials {
	width:100%;
	padding: 100px 0; 
	background-color: #FFD300; 
	text-align: center;
	
	
}

.testimonials img {
	width: 130px;
	margin: 0 auto; 
	border-radius: 50%;
}

/* Projects */ 

.hotels {
	width: 100%; 
	padding: 100px 0;
	background-color: #ffffff;
}


.project-box {
	background-color: #F8F8F8;	
	height: 430px; 
}

.project-text {
	padding: 10px 20px;
}

.project-link {
	font-size: .7em;
	text-transform: uppercase; 
	letter-spacing: .09em;
	font-weight: 600;
	text-decoration: none;
}

/* Convenient Locations */ 

.convenient-locations{
	width: 100%; 
	padding: 100px 0;
	background-color: #efefef;
}


.project-box {
	background-color: #F8F8F8;	
}

.project-text {
	padding: 10px 20px;
}




/* Unesco */
.unesco {
	width: 100%; 
	color: white;
	padding: 100px 0; 
	background-color: #ffffff;
	text-align: center;
	background-image: url("../images/Playa-Acon-Trinidad-Cuba-Guide.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 
	
}

.features-subhead {
	text-align: left; 
	margin-left: 50px;
	margin-bottom: 5px;
}

.features-copy {
	text-align: center; 
	margin-left: 50px; 
	margin-bottom: 20px;
	 

}

.fa-github,
.fa-html5,
.fa-tools,
.fa-file-pdf,
.fa-css3,
.fa-codepen {
	color: #696969;
	font-size: 2.5em;
	margin-bottom: 10px; 
	margin-top: 20px; 
	float: left;
}

/* memberships */

.memberships{
	width: 100%;
	padding: 100px 0; 
	background-color: #FFD300;
}

.membership-free, 
.membership-monthly,
.membership-yearly {
	font-size: 2em; 
	color: #ffffff;
	text-align: center; 
	padding: 20px 0;
}

.membership-free{
	background-color: #023781;
}

.membership-monthly{
	background-color: #023781;
}

.membership-yearly{
	background-color: #023781;
}

.membership-cost {
	font-size: 1.2em;
	font-weight: 900; 
	text-align: center;
	padding: 10px 0;
	margin-bottom: 20px;
	background-color: #dedede;
}

.membership-features{
	text-align: center;
	background-color: #F6F6F6;
	padding-bottom: 20px
}

.membership-features ul {
	padding: 0;
	margin: 0; 
	text-align: center;
}

.membership-features li {
	list-style: none outside none;
}

.membership-btn {
	margin: 30px auto;
}

.membership-btn a:link {
	border-radius: 5px;
	background-color: #dedede;
	padding: 10px 30px;
	font-size: .9em; 
	text-decoration: none;
	text-transform: uppercase;
	color: #515255;
}



.culture {
	width: 100%;
	padding: 130px 0;
	background-color: #ffffff;
	text-align: center; 
	background-image: url("../images/fixedw_large_4x.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 
	color: #F8F8F8;
	
}

/* gallery */ 

.gallery {
	width: 100%;
	padding: 100px 0; 
	background-color: #ffffff;
	
}

.history {
	width: 100%;
	padding: 130px 0;
	background-color: #ffffff;
	text-align: center; 
	background-image: url("../images/servlet.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #ffffff;
	
	
}




/* Contact Us */ 

.contact {
	width: 100%; 
	padding: 100px 0;
	background-color: #FFD300;
}

.contact img {
	margin-bottom: 20px;
}

.city {
	text-transform: uppercase;
	font-weight: 900;
}


.contact-form input[type="text"], 
.contact-form input[type="email"],
.contact-form textarea,
.contact-form select {
	width: 100%;
	height: 35px;
	margin-bottom: 20px;
	padding: 7px 5px 5px 10px;
	border: 1px solid #dadada;
	color: #dadada;
		
}

.contact-form textarea {
	height: 200px;
}


/* footer */ 

footer {
	width: 100%;
	padding: 50px 0;
	text-align: center; 
	background-color: #023781;
}

.copyright {
	width: 100%;
	color: #FFD300;
}

.copyright p {
	margin-bottom: 0;
}

.fa-facebook-square, 
.fa-twitter-square, 
.fa-linkedin {
	font-size: 2em;
	margin: 20px 5px 0 5px;
}

footer a:link {
	color: #F8F8F8;
	text-decoration: none;
}

footer a:visited {
	color:#F8F8F8;
	text-decoration: none;
}

footer a:hover {
	color: #FFD300;
	text-decoration: underline;
}

footer a:active {
	color: #ffffff;
	text-decoration: underline;
}


.row h2 {
	size: 24pt;
	color: #52C43B;
}













